<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="onboarding.css">
    <script src="onboarding.js" defer></script>
    <title>Onboarding</title>
</head>
<body>
    <div id="onboarding" class="onboarding-container">
        <!-- Slide 1 -->
        <div class="onboarding-slide">
          <img src="/img/calendario.png" alt="AgendMed">
          <h2>Bem-Vindo ao AgendMed</h2>
        </div>
      
        <!-- Slide 2 -->
        <div class="onboarding-slide">
          <img src="/img/calendario.png" alt="Retirada Rápida de Fichas - Sem filas">
          <h2>Agendamento Simplificado</h2>
          <p>Agende suas consultas nos postos de saúde em poucos cliques.</p>
        </div>
      
        <!-- Slide 3 -->
        <div class="onboarding-slide">
          <img src="/img/news.png" alt="Campanhas de Saúde - Fique informado">
          <h2>Campanhas de Saúde</h2>
          <p>Fique por dentro de campanhas de vacinação e outros avisos importantes.</p>
        </div>
      
        <!-- Botões de navegação -->
        <div class="onboarding-controls">
          <button id="prev-btn">&lt;</button>
          <button id="next-btn">&gt;</button>
          <button id="skip-btn">Pular</button>
        </div>
    </div>
</body>
</html>