/* Estilo global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container img {
    max-width: 150px;
    margin-bottom: 20px;
}

h2 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

/* Estilo para os inputs */
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 13px 0;
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #cbd9ec; /* Apenas linha inferior */
    background-color: transparent; /* Fundo transparente */
    outline: none; /* Remove a borda azul padrão ao focar */
    font-size: 16px;
    color: #333; /* Cor do texto */
}

/* Estilo ao focar no input */
input[type="email"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #0d5db3; /* Altere a cor da linha ao focar */
}

input:focus {
    border-color: #0d5db3;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botão principal */
.btn-primary {
    background-color: #007BFF;
    color: #FFFFFF;
    margin-top: 30px;

}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Botão secundário */
.btn-secondary {
    background-color: #F5F5F5;
    color: #007BFF;
    border: 1px solid #007BFF;
}

.btn-secondary:hover {
    background-color: #E0E0E0;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 10px;
    font-weight: 500px;
    margin-right: 10px;
    height: 40px;

}
.google-btn img {
    width: 18px; /* Reduz o tamanho da logo */
    height: 18px;
    transform: translate(-80px, 10px); /* Move para baixo e para a esquerda */

}

/* Texto secundário */
.secondary-text {
    margin-top: 15px;
    font-size: 14px;
    color: #6C757D;
}

.secondary-text a {
    color: #007BFF;
    text-decoration: none;
}

.secondary-text a:hover {
    text-decoration: underline;
}

/* Link do cadastro */
.link {
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 50px; /* Adiciona espaço entre o link e o botão Google */
}

.link a {
    color: #007BFF;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
