.form-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 60px;
    transform: translate(10px); 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

<<<<<<< HEAD
button {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin-top: 10px;
    border: none;
=======
button, #button_Paciente {
    width: 100%;
    max-width: 400px;
    padding: 1px 12px;
    margin-top: 10px;
    border: 1px solid #0056b3;
>>>>>>> 3051aee9c0858b89d2513a603c47cd992e1a3a54
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
<<<<<<< HEAD
    height: 50px;
    display: block;
    margin-left: auto; 
    margin-right: auto;

}
=======
    height: 50px;  /* Mantém a altura do botão */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

>>>>>>> 3051aee9c0858b89d2513a603c47cd992e1a3a54
a {
    text-decoration: none; /* Remove sublinhado de todos os links */
}

a:focus, a:hover {
    text-decoration: none; /* Remove sublinhado ao focar ou passar o mouse */
}

#button_Paciente {
    border: 2px solid #007BFF;
    background-color: transparent;
<<<<<<< HEAD
    font-size: 16px;
    color: #007BFF;
    text-decoration: none; /* Remove o sublinhado */

=======
    color: #007BFF;
    text-decoration: none; /* Remove o sublinhado */
    width: 100%;  /* Garante que o link ocupe toda a largura disponível */
    max-width: 375px;  /* Mesmo tamanho que o botão principal */
    height: 50px;  /* Mantém a altura consistente */
    margin-left: auto;
    margin-right: auto;
    display: flex;  /* Usa flexbox para centralizar o conteúdo */
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
}

#button_Paciente:hover {
    background-color: #cde5ff;
    width: 100%;  /* Mantém o tamanho em 100% no hover */
>>>>>>> 3051aee9c0858b89d2513a603c47cd992e1a3a54
}

/* Botão principal */
.btn-primary {
    background-color: #007BFF;
    color: #FFFFFF;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

<<<<<<< HEAD
#button_Paciente:hover{
    background-color: #cde5ff;

}

=======
>>>>>>> 3051aee9c0858b89d2513a603c47cd992e1a3a54
/* Botão secundário */
.btn-secondary {
    background-color: #F5F5F5;
    color: #007BFF;
    border: 1px solid #007BFF;
}

.btn-secondary:hover {
    background-color: #E0E0E0;
}
<<<<<<< HEAD
=======

/* Responsividade: Ajustes para telas menores */
@media (max-width: 600px) {
    button, #button_Paciente {
        width: 90%;  /* Ajusta a largura em telas menores */
        max-width: none;  /* Remove o limite de max-width */
    }
}
>>>>>>> 3051aee9c0858b89d2513a603c47cd992e1a3a54
