{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Profissional - AgendMed</title>
    <link rel="stylesheet" href="{% static 'css/profissional.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'reutilizaveis/sidebar_profissional.html' %}
    <div class="banner">
        <img src="{% static 'img/banner-saude.jpg' %}" alt="Banner de Saúde Preventiva">
    </div>
    <div class="container">
        <main class="main-content">

            <div class="cards-container">
                <div class="card" id="consulta-card" data-url="{% url 'AgendaConsulta:listar_consultas' %}">
                    <h3><img src="{% static 'img/icon-consulta.png' %}" alt="Consulta Icon"> Consultas</h3>
                    <div class="card-content"></div>
                </div>

                <div class="card" id="campanha-card" data-url="{% url 'Campanha:cad_Campanha' %}">
                    <h3><img src="{% static 'img/icons-injecao.png' %}" alt="Campanha Icon"> Campanhas</h3>
                    <div class="card-content"></div>
                </div>
                
                <div class="card" id="paciente-card" data-url="{% url 'profissional:lista_pacientes_unidade' %}">
                    <h3><img src="https://img.icons8.com/color/48/pharmacist-skin-type-1.png" alt="Paciente Icon"> Pacientes</h3>
                    <div class="card-content" ></div>
                </div>
                
                <div class="card" id="acompanhamento-card" data-url="{% url 'profissional:lista_pacientes_unidade' %}">
                    <h3><img src="https://img.icons8.com/color-glass/48/out-patient-department.png" alt="Acompanhamento Icon"> Acompanhamento Domiciliar</h3>
                    <div class="card-content"></div>
                </div>
                

            </div>
        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const consultaCard = document.getElementById("consulta-card");
            if (consultaCard) {
                consultaCard.addEventListener("click", function () {
                    const url = consultaCard.getAttribute("data-url");
                    if (url) {
                        window.location.href = url;
                    }
                });
            }
        });
    </script>

    <script src="{% static 'JS/profissional.js' %}"></script>
</body>
</html>
