{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Realizado - AgendMed</title>
    <link rel="stylesheet" href="{% static 'css/sucesso.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/sucesso-icon.png' %}" alt="Ícone de Sucesso">
        <h1>Cadastro realizado com sucesso!</h1>
        <a href="{% url 'users:login' %}" class="btn-primary">Fazer Login</a>
    </div>
</body>
</html>